# =========================
# Logs
# =========================
*.log
logs/
alert

# =========================
# Packet Capture Files
# =========================
*.pcap
*.pcapng
*.cap

# =========================
# Temporary / Swap Files
# =========================
*.tmp
*.swp
*~

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache
# =========================
.cache/
*.cache

# =========================
# Editor / IDE Files
# =========================
.vscode/
.idea/

# =========================
# Python (optional, dacă folosești scripturi)
# =========================
__pycache__/
*.pyc

# =========================
# Kali / Linux junk
# =========================
*.bak
*.old
